{% extends "base/base.html" %} {% load static %} {% block title %}Cart
Page{%endblock %} {% block content %}
<div class="flex flex-col items-center justify-center">
  <h1 class="text-4xl font-bold text-[#023047]">Your Cart</h1>
  {% if cart_items %}
  <div class="flex flex-col items-center justify-center mt-5">
    <table class="w-full">
      <thead class="bg-[#F6F7F8] text-start rounded-t-lg overflow-hidden">
        <tr>
          <th class="text-lg font-semibold text-[#023047]">Product</th>
          <th class="text-lg font-semibold text-[#023047]">Price</th>
          <th class="text-lg font-semibold text-[#023047]">Quantity</th>
          <th class="text-lg font-semibold text-[#023047]">Total</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for item in cart_items %}
        <tr>
          <td class="flex flex-row items-center px-5 py-3">
            <img
              class="w-20 h-20 object-cover rounded-lg"
              src="{{ item.medicine.image.url }}"
              alt="eye"
            />
            <div class="flex flex-col justify-start items-start ml-5">
              <h1 class="text-lg font-semibold text-[#023047]">
                {{ item.medicine.name }}
              </h1>
              <h2 class="text-lg font-semibold text-[#023047]">
                Rwf {{ item.medicine.price }}
              </h2>
            </div>
          </td>
          <td class="text-lg font-semibold text-[#023047] px-5 py-3">
            Rwf {{ item.medicine.price }}
          </td>
          <td class="text-lg font-semibold text-[#023047] px-5 py-3">
            {{ item.quantity }}
          </td>
          <td class="text-lg font-semibold text-[#023047] px-5 py-3">
            Rwf {% widthratio item.medicine.price 1 item.quantity %}
          </td>
          <td>
            <a href="{% url 'medicine' item.medicine.id %}">
              <button
                class="p-2 rounded-lg text-[#023047] font-semibold hover:bg-[#F6F7F8]"
              >
                <svg
                  class="w-6 h-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z"
                  />
                </svg>
              </button>
            </a>
          </td>
          <td class="px-5 py-3">
            <button
              class="flex items-center justify-center gap-2 px-4 py-2 rounded-lg text-[#023047] font-semibold hover:bg-[#F6F7F8] transition-all duration-300 ease-in"
            >
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.6 2.6A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4c0-.5.2-1 .6-1.4ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                  clip-rule="evenodd"
                />
              </svg>
              Remove
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="flex justify-center items-center h-96">
    <div class="flex flex-col items-center">
      <h1 class="text-2xl font-semibold text-gray-400">Your cart is empty</h1>
      <a
        href="{% url 'products' %}"
        class="mt-4 shadow-md flex items-center justify-center gap-2 px-4 py-2 rounded-lg text-[#023047] bg-[#F6F7F8] font-semibold hover:bg-[#F6F7F8] transition-all duration-300 ease-in"
      >
        Add some products in your cart
      </a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
