<form action="" enctype="multipart/form-data">
  <input type="file" name="image" id="image" />
  <input type="text" name="name" id="name" />
  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  <select name="category" id="category">
    <option value="medicine">medicine</option>
    <option value="device">device</option>
    <option value="nutritional">nutritional</option>
  </select>
  <input type="number" name="discount" id="discount" />
  <input type="number" name="price" id="price" />
  <input type="text" name="unit" id="unit" />
  <input type="number" name="quantity" id="quantity" />
  <select name="pharmacy" id="pharmacy">
    <option value="1">my pharmacy</option>
  </select>
  <label for="checkbox">Featured</label>
  <input type="checkbox" name="featured" id="featured" />
</form>
