{% extends "base/base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="flex flex-row justify-between items-center mx-5 mt-3 mb-0">
  <a
    class="flex items-center justify-center gap-2 px-4 py-2 rounded-lg text-[#023047] font-semibold hover:bg-[#F6F7F8] transition-all duration-300 ease-in"
    href="{% url 'home' %}"
  >
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m15 19-7-7 7-7"
      />
    </svg>
    Home Page
  </a>
  <h1 class="text-4xl font-bold text-[#023047]">Our Products</h1>
  <button>
    <a
      class="flex items-center justify-center gap-2 px-4 py-2 rounded-lg text-[#023047] font-semibold hover:bg-[#F6F7F8] transition-all duration-300 ease-in"
      href="#"
    >
      Filter
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M5 3a2 2 0 0 0-1.5 3.3l5.4 6v5c0 .4.3.9.6 1.1l3.1 2.3c1 .7 2.5 0 2.5-1.2v-7.1l5.4-6C21.6 5 20.7 3 19 3H5Z"
        />
      </svg>
    </a>
  </button>
</div>
<!-- Above products tabs -->
<div x-data="{ activeTab: 'all' }">
  <div class="flex justify-center mt-5">
    <!-- Tab buttons -->
    <button
      class="px-4 py-1 mx-2 rounded-full bg-white text-gray-700 font-semibold hover:bg-blue-100"
      :class="{ 'bg-blue-100': activeTab === 'all' }"
      @click="activeTab = 'all'"
    >
      all
    </button>
    <button
      class="px-4 py-1 mx-2 rounded-full bg-white text-gray-700 font-semibold hover:bg-blue-100"
      :class="{ 'bg-blue-100': activeTab === 'featured' }"
      @click="activeTab = 'featured'"
    >
      featured
    </button>
    <button
      class="px-4 py-1 mx-2 rounded-full bg-white text-gray-700 font-semibold hover:bg-blue-100"
      :class="{ 'bg-blue-100': activeTab === 'best_deals' }"
      @click="activeTab = 'best_deals'"
    >
      best deals
    </button>
    <button
      class="px-4 py-1 mx-2 rounded-full bg-white text-gray-700 font-semibold hover:bg-blue-100"
      :class="{ 'bg-blue-100': activeTab === 'medicines' }"
      @click="activeTab = 'medicines'"
    >
      medicines
    </button>
    <button
      class="px-4 py-1 mx-2 rounded-full bg-white text-gray-700 font-semibold hover:bg-blue-100"
      :class="{ 'bg-blue-100': activeTab === 'devices' }"
      @click="activeTab = 'devices'"
    >
      devices
    </button>
    <button
      class="px-4 py-1 mx-2 rounded-full bg-white text-gray-700 font-semibold hover:bg-blue-100"
      :class="{ 'bg-blue-100': activeTab === 'nutritional' }"
      @click="activeTab = 'nutritional'"
    >
      nutritional
    </button>
  </div>

  <!-- Tab content for 'all' -->
  {% include 'partials/products_tabs/all.html' %}

  <!-- Tab content for 'featured' -->
  {% include 'partials/products_tabs/featured.html' %}

  <!-- Tab content for 'best_deals' -->
  {% include 'partials/products_tabs/best_deals.html' %}

  <!-- Tab content for 'medicines' -->
  {% include 'partials/products_tabs/medicines.html' %}

  <!-- Tab content for 'devices' -->
  {% include 'partials/products_tabs/devices.html' %}

  <!-- Tab content for 'nutritional' -->
  {% include 'partials/products_tabs/nutritional.html' %}
  
  
</div>

<!-- <div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 mx-5 my-3"
>
  <script>
    const cards = 8;

    for (let i = 0; i < cards; i++) {
      document.write(`
      <div class="relative w-[20rem] h-[25rem] bg-[#F6F7F8] rounded-3xl overflow-hidden shadow-lg">
        <img class="absolute top-0 object-cover h-[17rem] w-full" src="{% static 'eye.jpg' %}" alt="eye" />
        <span class="absolute bg-[#F0DA69] rounded-l-lg right-0 top-10 px-4 py-3">20% off</span>
        <div class="absolute flex flex-col w-full rounded-3xl p-5 bg-white bottom-0">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col">
              <h1 class="text-lg font-semibold text-blue-300">Anti Aging Eye Cream</h1>
              <h2 class="text-xl font-bold text-[#023047]">{{ product.name }}</h2>
            </div>
            <div class="flex">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FB8148" viewBox="0 0 24 24">
                <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
              </svg>
              <span class="text-blue-300">(4.8)</span>
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mt-10">
            <button class="flex border border-[#023047] border-2 px-4 py-2 rounded-full text-[#023047] font-semibold">
              <svg class="w-6 h-6 text-[#023047]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
              </svg>
              Add To Cart
            </button>
            <p class="text-3xl font-semibold text-[#023047]">$36.00</p>
          </div>
        </div>
      </div>
    `);
    }
  </script>
</div> -->

{% endblock %}
