{% comment %}
<div
  x-show="activeTab == 'all'"
  class="relative w-[20rem] h-[25rem] bg-[#F6F7F8] rounded-3xl overflow-hidden shadow-lg transition-all duration-1000 ease-in"
>
  <!-- Product content -->
  <p>Contents for All</p>
</div>
{% endcomment %}
{% load static %}

<script>
  const cards = 8;

  for (let i = 0; i < cards; i++) {
    document.write(`
      <div x-show="activeTab == 'all'" class="relative max-w-[20rem] h-[25rem] bg-[#F6F7F8] rounded-3xl overflow-hidden shadow-lg">
        <img class="absolute top-0 object-cover h-[17rem] w-full" src="{% static 'eye.jpg' %}" alt="eye" />
        <span class="absolute bg-[#F0DA69] rounded-l-lg right-0 top-10 px-4 py-3">20% off</span>
        <div class="absolute flex flex-col w-full rounded-3xl p-5 bg-white bottom-0">
          <div class="flex flex-row justify-between">
            <div class="flex flex-col">
              <h1 class="text-lg font-semibold text-blue-300">Anti Aging Eye Cream</h1>
              <h2 class="text-xl font-bold text-[#023047]">{{ product.name }}</h2>
            </div>
            <div class="flex">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#FB8148" viewBox="0 0 24 24">
                <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
              </svg>
              <span class="text-blue-300">(4.8)</span>
            </div>
          </div>
          <div class="flex flex-row justify-between items-center mt-10">
            <button class="flex border border-[#023047] border-2 px-4 py-2 rounded-full text-[#023047] font-semibold">
              <svg class="w-6 h-6 text-[#023047]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
              </svg>
              Add To Cart
            </button>
            <p class="text-3xl font-semibold text-[#023047]">$36.00</p>
          </div>
        </div>
      </div>
    `);
  }
</script>
