{% if featured %}
<div x-show="activeTab == 'best_deals'">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 mx-5 my-3"
  >
    {% for medicine in featured %}
    {% include 'partials/product_card.html' %}
    {% endfor %}
  </div>
</div>

{% else %}
<div
  x-show="activeTab == 'best_deals'"
  class="flex justify-center items-center h-96"
>
  <h1 class="text-2xl font-semibold text-gray-400">
    There are no best deals available on list today. 
  </h1>
</div>
{% endif %}
